html, body {
   margin: 10px;
   padding: 0;
   overflow-y: hidden;
}

$SPINNER_SIZE: 120px;
.spinner {
   background: transparent url("../images/spinner.gif");
   background-size: $SPINNER_SIZE $SPINNER_SIZE;
   width: $SPINNER_SIZE;
   height: $SPINNER_SIZE;
   margin: auto;
}

.title {
   text-align: center;
   margin-bottom: 20px;
}

.table_column_spacer {
   position: relative;
   width: 15px;
   height: 20px;
   padding: 0;
   margin: 0;
}

.selectable_text {
   -webkit-user-select: text;
}

.main_panel {
   display: none;
   margin-top: 50px;
   text-align: center;
}

#refresh_button {
   margin-right:50px;
}